[package]
name = "esp-idf-hal"
version = "0.38.1"
authors = ["sapir <yasapir@gmail.com>", "Ivan Markov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["hal", "idf", "esp-idf", "esp32"]
description = "A Hardware abstraction layer for Espressif's ESP family of microcontrollers based on the ESP-IDF framework."
repository = "https://github.com/esp-rs/esp-idf-hal"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://esp-rs.github.io/esp-idf-hal/"

[features]
default = ["std", "alloc", "esp-idf-sys", "embedded-svc"]

std = ["alloc", "esp-idf-sys/std", "embedded-svc?/std"]

alloc = ["embedded-svc?/alloc"]

riscv-ulp-hal = []

experimental = ["embedded-svc?/experimental"]

[dependencies]
nb = "0.1.2"
mutex-trait = { version = "0.2", optional = true, default-features = false }
embedded-hal = "=1.0.0-alpha.8"
embedded-hal-0-2 = { package = "embedded-hal", version = "0.2.7", features = ["unproven"] }
embedded-svc = { version = "0.22", optional = true, default-features = false }
esp-idf-sys = { version = "0.31.9", optional = true, default-features = false, features = ["native"] }

[build-dependencies]
embuild = "0.30.3"
anyhow = "1"

[dev-dependencies]
anyhow = "1"
esp-idf-sys = { version = "0.31.9", features = ["native", "binstart"] }
