[package]
name = "esp-idf-hal"
version = "0.32.10"
authors = ["sapir <yasapir@gmail.com>", "Ivan Markov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["hal", "idf", "esp-idf", "esp32"]
description = "A Hardware abstraction layer for Espressif's ESP family of microcontrollers based on the ESP-IDF framework."
repository = "https://github.com/esp-rs/esp-idf-hal"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://esp-rs.github.io/esp-idf-hal/"

[features]
default = ["std", "esp-idf-sys", "embedded-svc"]

std = ["esp-idf-sys/std"]

riscv-ulp-hal = []

experimental = []

[dependencies]
nb = "0.1.2"
mutex-trait = { version = "0.2", optional = true, default-features = false }
embedded-hal = "=1.0.0-alpha.7"
embedded-hal-0-2 = { package = "embedded-hal", version = "0.2.7", features = ["unproven"] }
embedded-svc = { version = "0.16.4", optional = true, default-features = false }
esp-idf-sys = { version = "0.30", optional = true, default-features = false, features = ["pio"] }
critical-section = { version = "0.2.5", optional = true, features = ["custom-impl"] }
embassy = { version = "0", optional = true }
# The real version is this one and it needs to be patched into the binary crate:
#embassy = { version = "0.1", git = "https://github.com/embassy-rs/embassy", optional = true, features = ["executor-agnostic"] }

[build-dependencies]
embuild = "0.28"
anyhow = "1"

[dev-dependencies]
anyhow = "1"
esp-idf-svc = "0.36.2"
esp-idf-sys = { version = "0.30", features = ["pio", "binstart"] }
log = "0.4"
