# The examples require a larger than the default stack size for the main thread and the posix threads.
CONFIG_ESP_MAIN_TASK_STACK_SIZE=20000
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8192

# Go figure...
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=4096

# OpenThread support
CONFIG_OPENTHREAD_ENABLED=y
